body{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.App {
  text-align: center;
}

.form{
  margin-bottom: 2em;
}

.cards{
  margin-bottom: 3em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.cards:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
